@using CodeBuggy.Models.Projects

@model BurndownModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Burndown Chart";
}

<h2>@ViewData["Title"]</h2>

<p>
<div class="row">
    <div class="col-1">
        <label><b>Chart-Type</b></label>
    </div>
    <div class="col-2">
        <select id="ChartType" class="form-control" style="width:200px;">
            <option selected>--Select Chart Type--</option>
            <option>Status</option>
            <option>Priority</option>
        </select>
    </div>
    <div class="col-4">
        <input id="bd-button" value="Show Chart" type="button" onclick="fetchDataAndRenderChart(@ViewBag.ProjectId)" />
    </div>
</div>
</p>

<div id="burndownChart"></div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="~/js/burndown.js"></script>