@using Microsoft.AspNetCore.Identity
@using CodeBuggy.Data

@model CodeBuggy.Data.AppUser
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <br />
    <br />
    @using (Html.BeginForm())
    {
        @Html.DropDownListFor(model => model.SelectedProjectId, (SelectList)ViewBag.ProjectList, "Select an item", new { @class = "form-control", id = "projectDropdown" })
            <p id="selectedProjectIdOutput">Selected Project Id: model.SelectedProjectId</p>

            <button type="button" onclick="changeSelectedProjectId()">Change Value</button>

            <script>
                function changeSelectedProjectId() {
                    // Get the selected value from the dropdown
                    var selectedValue = document.getElementById('projectDropdown').value;

                    // Update the SelectedProjectId with the selected value
                    var selectedProjectIdOutput = document.getElementById('selectedProjectIdOutput');
                    selectedProjectIdOutput.innerText = "Selected Project Id: " + selectedValue;
                }
            </script>
    }
}
 