@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Welcome to CodeBuggy</title>
</head>
<body style="justify-content: center; align-items: center;">
    <div style="text-align: center;">
        <partial name="_ProjectsPartial" />
    </div>
</body>
</html>