@{
    ViewData["Title"] = "Privacy";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Privacy</title>
</head>

<body style="justify-content: center; align-items: center;">
    <div style="text-align: center;">
        <h1 style="font-size: 50px;">Privacy Page</h1>
        <p style="font-size: 24px;">All Rights Reserved. Site by Chris Dallat || Khalil Masree</p>
        <img src="Images/CodeBuggyLogo.jpg" alt="img:CodeBuggyLogo" style="max-width: 30%; max-height: 30%;">
    </div>
</body>

</html>