@using CodeBuggy.Controllers
@using CodeBuggy.Data
@using CodeBuggy.Helpers

@model List<Ticket>

<h2>Ticket Management Board</h2>

<div class="board">
    <div class="column" id="todoColumn" ondrop="drop(event)" ondragover="allowDrop(event)">
        <h3 class="column-title">To Do</h3>
        <div class="tickets-container">
            @Html.RenderTickets(Model, TicketStatus.ToDo)
        </div>
    </div>
    <div class="column" id="inProgressColumn" ondrop="drop(event)" ondragover="allowDrop(event)">
        <h3 class="column-title">In Progress</h3>
        <div class="tickets-container">
            @Html.RenderTickets(Model, TicketStatus.InProgress)
        </div>
    </div>
    <div class="column" id="reviewColumn" ondrop="drop(event)" ondragover="allowDrop(event)">
        <h3 class="column-title">Review</h3>
        <div class="tickets-container">
            @Html.RenderTickets(Model, TicketStatus.InProgress)
        </div>
    </div>
    <div class="column" id="doneColumn" ondrop="drop(event)" ondragover="allowDrop(event)">
        <h3 class="column-title">Done</h3>
        <div class="tickets-container">
            @Html.RenderTickets(Model, TicketStatus.Done)
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/projectBoard.js"></script>

