@using Microsoft.AspNetCore.Identity
@using CodeBuggy.Models.Projects
@using PagedList.Mvc

@model ProjectsModel

@if (User.Identity?.IsAuthenticated ?? false)
{

    <div style="display: grid; grid-template-columns: 1fr auto;">
        <h2 style="text-align: center;">Your Projects</h2>

        <a class="create-button" style="text-align: right;" onclick="togglePopup()">
            <span class="gg-math-plus"></span>
            <span style="margin-left: 5px">New project</span>
        </a>
    </div>

    @Html.Raw(ViewBag.ProjectTable)

    <div>
        @Html.Raw(ViewBag.Pagination)
    </div>
}
else
{
    <div>You have no access Malaka</div>
}

<div id="popupOverlay" class="overlay">
    <div class="popup">
        <div style="display: grid; grid-template-columns: 1fr auto;">
            <span id="goBackButton" class="gg-arrow-left-r" style="position:fixed; margin-top: 8px; display: none" onclick="goBack()"></span>
            <h2 id="PopupTitle" style="text-align: center;">Add Project</h2>
            <span class="gg-close-r" style="top: unset; margin-top: 8px; right: 20px" onclick="togglePopup()"></span>
        </div>
        <div style="margin-top: 20px"></div>
        <div id="ProjectButtons">
            <a class="button-general mb-3" style="text-align: center; max-width: 380px" onclick="showExistingProject()">
                <span>Add Existing Project</span>
            </a>
            <a class="button-general mb-3" style="text-align: center; max-width: 380px" onclick="showCreateProject()">
                <span>Add New Project</span>
            </a>
        </div>

        <form id="addExistingProjectForm" asp-action="AddExistingProject" style="display: none;" method="post">
            <div id="projectNameInput" class="form-floating mb-3" style="max-width: 380px">
                <input asp-for="Input.Name" class="form-control" autocomplete="ProjectName" aria-required="true" placeholder="" />
                <label asp-for="Input.Name">Project name</label>
            </div>
            <div id="projectAccessCode" class="form-floating mb-3" style="max-width: 380px">
                <input asp-for="Input.AccessCode" class="form-control" autocomplete="ProjectAccessCode" aria-required="true" placeholder="" />
                <label asp-for="Input.AccessCode">Project Access Code</label>
            </div>
            <button id="submitButton" type="submit" class="button-general mb-3 mt-5" style="text-align: center; max-width: 160px">
                Add Project
            </button>
        </form>

        <form id="addNewProjectForm" asp-action="AddNewProject" style="display: none;" method="post">
            <div id="projectNameInput" class="form-floating mb-3" style="max-width: 380px">
                <input asp-for="Input.Name" class="form-control" autocomplete="ProjectName" aria-required="true" placeholder="" />
                <label asp-for="Input.Name">Project name</label>
            </div>
            <button id="submitButton" type="submit" class="button-general mb-3 mt-5" style="text-align: center; max-width: 160px">
                Add Project
            </button>
        </form>

        <span id="messageDispaly" style="display: none"></span>
    </div>     
</div>

<script>
    const addNewProjectForm = document.getElementById('addNewProjectForm');
    const addExistingProjectForm = document.getElementById('addExistingProjectForm');
    const buttons = document.getElementById('ProjectButtons');
    const goBackbutton = document.getElementById('goBackButton');
    const messageDisplay = document.getElementById('messageDispaly');
    var popupTitle = document.getElementById('PopupTitle');


    var defaultShowPopUp = function() {
        addNewProjectForm.style.display = 'none';
        addExistingProjectForm.style.display = 'none';
        ProjectButtons.style.display = 'block';
        goBackbutton.style.display = 'none';
        PopupTitle.innerHTML = "Add Project";
        messageDisplay.style.display = 'none';
    }

    var togglePopup = function () {
        const popup = document.getElementById('popupOverlay');
        popup.style.display = popup.style.display === 'flex' ? 'none' : 'flex';

        if (popup.style.display === 'none') {
            defaultShowPopUp();
        }
    }

    var showExistingProject = function () {
        addExistingProjectForm.style.display = 'block';
        addNewProjectForm.style.display = 'none';
        ProjectButtons.style.display = 'none';
        goBackbutton.style.display = 'block';
        PopupTitle.innerHTML = "Add Exisiting Project";
    }

    var showCreateProject = function () {
        addExistingProjectForm.style.display = 'none';
        addNewProjectForm.style.display = 'block';
        ProjectButtons.style.display = 'none';
        goBackbutton.style.display = 'block';
        PopupTitle.innerHTML = "Add New Project";
    }

    var goBack = function () {
        defaultShowPopUp();
    }

    document.addEventListener("DOMContentLoaded", function () {

        function handleFormSubmit(form) {
            var formData = new FormData(form);

            fetch(form.action, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                messageDisplay.style.display = 'block';
                if (data.error) {
                    messageDisplay.style.color = "red";
                    messageDisplay.innerHTML = data.error;
                }
                else {
                    window.location.href = '/Projects/ProjectsList?page=1';
                }
            })
            .catch(error => {
                console.error(error.message);
            });
        }

        addNewProjectForm.addEventListener('submit', function (e) {
            e.preventDefault();
            handleFormSubmit(addNewProjectForm);
        });

        addExistingProjectForm.addEventListener('submit', function (e) {
            e.preventDefault();
            handleFormSubmit(addExistingProjectForm);
        });
    });

    var toggleBlur = function(span) {
        span.classList.toggle('blurred-text');
    }

    var copyText = function(button) {
        let td = button.previousElementSibling; 
        let textToCopy = td.innerText || td.textContent || td.innerHTML;

        let tempTextarea = document.createElement('textarea');
        tempTextarea.value = textToCopy;

        document.body.appendChild(tempTextarea);

        tempTextarea.select();
        tempTextarea.setSelectionRange(0, 99999);

        document.execCommand('copy');

        document.body.removeChild(tempTextarea);

        alert('Text copied to clipboard!');
    }
</script>