@using CodeBuggy.Controllers
@using CodeBuggy.Data
@using CodeBuggy.Helpers

@model List<Ticket>

<h2>Ticket Management Board</h2>

<div class="board">
    <div class="column">
        <h3>To Do</h3>
        @await Html.RenderTicketsAsync(Model, TicketStatus.ToDo)
    </div>
    <div class="column">
        <h3>In Progress</h3>
        @await Html.RenderTicketsAsync(Model, TicketStatus.InProgress)
    </div>
    <div class="column">
        <h3>Done</h3>
        @await Html.RenderTicketsAsync(Model, TicketStatus.Done)
    </div>
</div>

