@using Microsoft.AspNetCore.Identity
@using CodeBuggy.Models.Projects
@using PagedList.Mvc

@model ProjectsModel

@if (User.Identity?.IsAuthenticated ?? false)
{
    <div style="display: grid; grid-template-columns: 1fr auto;">
    <h2 style="text-align: center;">Your Projects</h2>

    <a class="create-button" style="text-align: right;" onclick="togglePopup()">
        <span class="gg-math-plus"></span>
        <span style="margin-left: 5px">New project</span>
    </a>
</div>

    @Html.Raw(ViewBag.ProjectTable)

    <div>
    @Html.Raw(ViewBag.Pagination)
</div>
}
else
{
    <div>Access Denied: Please Login to view this page</div>
}

<script type="text/javascript" src="~/js/projectsList.js"></script>

<div id="popupOverlay" class="overlay">
    <div class="popup">
        <div style="display: grid; grid-template-columns: 1fr auto;">
            <span id="goBackButton" class="gg-arrow-left-r" style="position:fixed; margin-top: 8px; display: none"
                onclick="goBack()"></span>
            <h2 id="PopupTitle" style="text-align: center;">Add Project</h2>
            <span class="gg-close-r" style="top: unset; margin-top: 8px; right: 20px" onclick="togglePopup()"></span>
        </div>
        <div style="margin-top: 20px"></div>
        <div id="ProjectButtons">
            <a class="button-general mb-3" style="text-align: center; max-width: 380px" onclick="showExistingProject()">
                <span>Add Existing Project</span>
            </a>
            <a class="button-general mb-3" style="text-align: center; max-width: 380px" onclick="showCreateProject()">
                <span>Add New Project</span>
            </a>
        </div>

        <form id="addExistingProjectForm" asp-action="AddExistingProject" style="display: none;" method="post">
            <div id="projectNameInput" class="form-floating mb-3" style="max-width: 380px">
                <input asp-for='Input.Name' class="form-control" autocomplete="ProjectName" aria-required="true"
                    placeholder="" />
                <label asp-for="Input.Name">Project name</label>
            </div>
            <div id="projectAccessCode" class="form-floating mb-3" style="max-width: 380px">
                <input asp-for="Input.AccessCode" class="form-control" autocomplete="ProjectAccessCode"
                    aria-required="true" placeholder="" />
                <label asp-for="Input.AccessCode">Project Access Code</label>
            </div>
            <button id="submitButton" type="submit" class="button-general mb-3 mt-5"
                style="text-align: center; max-width: 160px">
                Add Project
            </button>
        </form>

        <form id="addNewProjectForm" asp-action="AddNewProject" style="display: none;" method="post">
            <div id="projectNameInput" class="form-floating mb-3" style="max-width: 380px">
                <input asp-for="Input.Name" class="form-control" autocomplete="ProjectName" aria-required="true"
                    placeholder="" />
                <label asp-for="Input.Name">Project name</label>
            </div>
            <button id="submitButton" type="submit" class="button-general mb-3 mt-5"
                style="text-align: center; max-width: 160px">
                Add Project
            </button>
        </form>

    </div>
</div>
<div id="deletePopup" class="overlay">
    <div class="popup">
        <div style="display: grid; grid-template-columns: 1fr auto;">
            <h2 id="PopupTitle" style="text-align: center;">Delete Project</h2>
            <span class="gg-close-r" style="top: unset; margin-top: 8px; right: 20px"
                onclick="toggleDeletePopup()"></span>
        </div>
        <div style="margin-top: 20px"></div>

        <span style="text-align: center; font-size: 17px">Enter Project Access Code</span>

        <div style="margin-top: 20px"></div>
        <form id="deleteProject" asp-action="DeleteProject" method="post">
            <div id="projectNameInput" class="form-floating mb-3" style="max-width: 380px">
                <input asp-for="Input.AccessCode" class="form-control" aria-required="true" placeholder="" />
                <label asp-for="Input.AccessCode">Project Access Code</label>
            </div>
            <button id="submitButton" type="submit" class="button-general mb-3 mt-5" style="text-align: center;">
                Delete Project
            </button>
        </form>

    </div>
</div>
