html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h2 {
    text-align: center;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.content-table thead th {
    background-color: #f2f2f2;
}

.content-table th, .content-table td {
    padding: 10px;
    border-left: 0;
    text-align: left;
}

.pagination-box {
    display: flex;
    margin-top: 20px;
    align-items: center;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: hidden; /* Enable vertical scrollbar when necessary */
}

.page-input {
    width: 30px;
    text-align: center;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: hidden;
    -moz-appearance: textfield;
}

.page-link {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}


.page-input::-webkit-inner-spin-button,
.page-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.page-link:hover {
    background-color: #ddd;
}

/* wwwroot/css/site.css */
.board {
    display: flex;
}

.column {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.ticket {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    max-height: 200px;
}

.containerBox {
    width: 100%;
    overflow: hidden;
    padding: unset;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.left-div {
    width: 50%;  
    margin: 1%;  
    float: left;  
    box-sizing: border-box;  
}

.right-div {
    width: 50%;  
    margin: 1%;   
    float: right; 
    box-sizing: border-box;  
}

.project-link {
    color:#258cfb;
    text-decoration: none; 
}

.project-link:hover {
    text-decoration: underline; 
}

.create-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 21px;
    text-decoration: none;
    color: black;
    border: 0.1px solid grey;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.button-general {
    display: block;
    align-items: center;
    padding: 10px 15px;
    font-size: 21px;
    text-decoration: none;
    color: black;
    border: 0.1px solid grey;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.create-button:hover, .button-general:hover {
    border: 0.1px solid #1b6ec2;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.popup {
    background: #fff;
    text-align: -webkit-center;
    padding: 20px;
    border: 2px solid #3498db;
    border-radius: 5px;
    width: 80%; /* Fixed width for larger screens */
    max-width: 700px; /* Maximum width */
    height: fit-content; /* Fixed height for larger screens */
    max-height: 800px; /* Maximum height */
    overflow-y: auto;
    position: relative;
}

/* Adjust the size for smaller screens */
@media screen and (max-width: 600px) {
    .popup {
        width: 90%; /* Adjusted width for smaller screens */
        height: 90%; /* Adjusted height for smaller screens */
    }
}

.page-nav {
    margin-right: 5px;
    display: flex;
    grid-template-columns: 1fr auto;
    margin-top: 5px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.blurred-text {
    color: transparent;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#errorMessage {
    color: red;
}
