html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h2 {
    text-align: center;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.content-table thead th {
    background-color: #f2f2f2;
}

.content-table th, .content-table td {
    padding: 10px;
    border-left: 0;
    text-align: left;
}

.pagination-box {
    display: flex;
    align-items: center;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: hidden; /* Enable vertical scrollbar when necessary */
}

.page-input {
    width: 30px;
    text-align: center;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: hidden;
}

.page-link {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.page-link:hover {
    background-color: #ddd;
}

/* wwwroot/css/site.css */
.board {
    display: flex;
}

.column {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.ticket {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    max-height: 200px;
}

.left-div {
    width: 50%;  
    margin: 1%;  
    float: left;  
    box-sizing: border-box;  
}

.right-div {
    width: 50%;  
    margin: 1%;   
    float: right; 
    box-sizing: border-box;  
}
