html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h2 {
    text-align: center;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .content-table thead th {
        background-color: #f2f2f2;
    }

    .content-table th, .content-table td {
        padding: 10px;
        border-left: 0;
        text-align: left;
    }

/* Add more styling as needed */
